


<header id="header" class="fixed-top d-flex align-items-center">
  <div class="container d-flex align-items-center justify-content-between">

    <div class="logo">
<!--      <h1 class="text-light"><a routerLink=""><span>AloCV</span></a></h1>-->
      <!-- Uncomment below if you prefer to use an image logo -->
       <a href="index.html" ><img src="../../assets/alocvlogo.png" alt="" class="img-fluid"></a>
    </div>

    <nav id="navbar" class="navbar">
      <ul>
        <li class="nav-item">
          <!--                            <a *ngIf="checkRole == 'COMPANY'" routerLink="list-recruitmentnew-company"-->
          <!--                               class="nav-link dropdown-toggle active">Trang chủ</a>-->
          <a routerLink=""
             class="nav-link active">Trang chủ</a>
        </li>
<!--        <li *ngIf="checkRole == 'ROLE_ADMIN'" class="nav-item">-->
<!--          <a routerLink="/list-recruitmentnew-user/xxx" class="nav-link">Việc làm</a>-->
<!--        </li>-->
        <li *ngIf="checkRole == 'ROLE_ADMIN'" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle">Quản lý tài khoản</a>
          <ul class="dropdown">
            <li class="nav-item">
              <a routerLink="admin/management/company" class="nav-link">Quản lí tài khoản doanh nghiệp</a>
            </li>
            <li class="nav-item">
              <a routerLink="admin/management/user" class="nav-link">Quản lí tài khoản người dùng</a>
            </li>

          </ul>
        </li>

        <li *ngIf="checkRole == 'ROLE_ADMIN'" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle">Quản lý đề xuất </a>
          <ul class="dropdown">
            <li class="nav-item">
          <a routerLink="admin/admin-job-management" class="nav-link">Quản lý tin tuyển dụng đề xuất</a>
        </li>
            <li class="nav-item">
              <a routerLink="admin/company-suggest" class="nav-link">Quản lí công ty đề xuất</a>
            </li>
<!--        <li *ngIf="checkRole == 'ROLE_USER'" class="nav-item">-->
<!--          <a routerLink="/list-recruitmentnew-user/xxx" class="nav-link">Việc làm</a>-->
<!--        </li>-->
          </ul>
        </li>



        <li *ngIf="checkRole == 'ROLE_COMPANY'" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle">Bài Đăng</a>
          <ul class="dropdown">
            <li *ngIf="checkRole == 'ROLE_COMPANY'" class="nav-item">
              <a routerLink="/company/company-management" class="nav-link">Quản lý bài đăng</a>
            </li>
            <li class="nav-item">
              <a routerLink="/company/job/job-create" class="nav-link">Viết Bài Đăng</a>
            </li>

          </ul>
        </li>

        <li *ngIf="checkRole == 'ROLE_USER'" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle">Hồ Sơ Ứng Tuyển</a>
          <ul class="dropdown">
            <li class="nav-item">
              <a routerLink="user/create-cv"  class="nav-link">Viết Hồ Sơ Ứng Tuyển</a>
            </li>
            <li class="nav-item">
              <a routerLink="user/list-cv" class="nav-link">Hồ sơ của bạn</a>
            </li>
            <li class="nav-item">
              <a routerLink="user/list-apply" class="nav-link">Dách sách ứng tuyển</a>
            </li>
          </ul>
        </li>
<!--        <li *ngIf="checkRole == 'ROLE_COMPANY'" class="nav-item">-->
<!--          <a routerLink="list-recruitmentnew-user" class="nav-link">Việc làm</a>-->
<!--        </li>-->
<!--        <li *ngIf="checkRole == 'ROLE_USER'||'ROLE_COMPANY'" class="nav-item dropdown">-->
<!--          <a class="nav-link dropdown-toggle">Công ty</a>-->
<!--          <ul class="dropdown">-->
<!--            <li class="nav-item">-->
<!--              <a routerLink="list-company" class="nav-link">Danh sách công ty</a>-->
<!--            </li>-->
<!--          </ul>-->
<!--        </li>-->
          <li style="margin-left: 50px; margin-right: -50px" *ngIf="dataName">
            <div *ngIf="!checkDataImg">
              <img style="width: 40px;height: auto;padding: 0px; border-radius: 50%" src="https://thumbs.dreamstime.com/b/default-avatar-profile-image-vector-social-media-user-icon-potrait-182347582.jpg" >

            </div>
            <div *ngIf="checkDataImg">
              <img style="width: 40px;height: 40px;padding: 0px; border-radius: 50%" [src]="dataImg">
            </div>
          </li>
        <li *ngIf="dataName">
          <button type="button" class=" btn btn-link px-3 me-2 ">
            <a *ngIf="checkRole == 'ROLE_USER'">
              <input [routerLink]="['user/user-detail/',dataId]" style="text-decoration: none" type="button"  class=" btn btn-link px-3 me-2" [(ngModel)]="dataName">
            </a>
            <a *ngIf="checkRole == 'ROLE_COMPANY'">
              <input [routerLink]="['company/company-detail/',dataId]" style="text-decoration: none" type="button"  class=" btn btn-link px-3 me-2" [(ngModel)]="dataName">
            </a>
          </button>
        </li>

        <li *ngIf="!dataName">
          <button type="button" class=" btn btn-link px-3 me-2 ">
            <a  routerLink="login">
              <input value="Login" style="text-decoration: none" type="button"  class=" btn btn-link px-3 me-2">
            </a>
          </button>
        </li>



        <li><a *ngIf="!dataName" routerLink="register" class="getstarted scrollto" >Đăng ký</a></li>
        <li><a *ngIf="dataName" (click)="this.logout()" class="getstarted scrollto" >Đăng xuất</a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>

    </nav><!-- .navbar -->

  </div>
</header><!-- End Header -->

