<footer id="footer">



  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6 footer-contact">
          <h3>Alo CV</h3>
          <p>
            Mỹ Đình 2, Hà Nội <br>
            Khu đô thị Mon City<br>
            Lô 22 TT01 <br><br>
            <strong>Phone:</strong> +012 3456 789<br>
            <strong>Email:</strong> nhom1vjppronumber1@gmail.com<br>
          </p>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Thông tin Công ty</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Trang chủ</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Công ty</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Dịch vụ</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Điều khoản</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Bảo mật</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Dịch vu của chúng tôi</h4>
          <ul>
            <li><i class=" "></i> <a href="#">Thiết kế web</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Phát triển web</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Quản lý sản phẩm</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Tiếp thị</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Thiết kế đồ hoạ</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Mạng xã hội</h4>
          <p>Kết nối và chia sẻ kiến thức mọi lúc mọi nơi với Alo CV</p>
          <div class="social-links mt-3">
            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
            <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
            <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="container py-4">
    <div class="copyright">
      &copy; Bản quyền được cấp bởi <strong><span>CodeGym</span></strong> Mỹ Đình
    </div>
    <div class="credits">
<!--       All the links in the footer should remain intact. -->
<!--       You can delete the links only if you purchased the pro version. -->
<!--       Licensing information: https://bootstrapmade.com/license/ -->
<!--       Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/ninestars-free-bootstrap-3-theme-for-creative/ -->
      Thiết kế bởi <a href="https://bootstrapmade.com/">Nhóm 1 siêu vjp pro n1</a>
    </div>
  </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="assets/vendor/aos/aos.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="assets/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="assets/js/main.js"></script>


