<!-- Footer Area -->
<footer class="footer-area pt-100">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="content">
          <div class="logo">
            <a href="index.html"><img src="assets/images/logo2.png" alt="logo"></a>
          </div>
          <p>
            Cơ hội vàng nằm gọn trong tay bạn
          </p>
          <div class="subscribe">
            <h4>Tìm việc phù hợp với bạn</h4>
            <form class="newsletter-form" data-toggle="validator">
              <input type="email" id="emails" class="form-control" placeholder="Your Email" name="EMAIL" required="" autocomplete="off">

              <button class="box-btn" type="submit">
                Tìm kiếm
              </button>

              <div id="validator-newsletter" class="form-result"></div>
            </form>
          </div>

          <ul class="social">
            <li>
              <a href="#" target="_blank"><i class='bx bxl-facebook'></i></a>
            </li>
            <li>
              <a href="#" target="_blank"><i class='bx bxl-twitter'></i></a>
            </li>
            <li>
              <a href="#" target="_blank"><i class='bx bxl-instagram'></i></a>
            </li>
            <li>
              <a href="#" target="_blank"><i class='bx bxl-pinterest'></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="content ml-15">
          <h3>Về Paso</h3>
          <ul class="footer-list">
            <li><a href="#">Giới thiệu</a></li>
            <li><a href="#">Góc báo chí</a></li>
            <li><a href="#">Tuyển dụng</a></li>
            <li><a href="#">Liên hệ</a></li>
            <li><a href="#">Hỏi đáp</a></li>
            <li><a href="#">Chính sách bảo mật</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2 col-md-6">
        <div class="content">
          <h3>Đối tác</h3>
          <ul class="footer-list">
            <li><a src="https://vingroup.net/">Tập đoàn Vingroup</a></li>
            <li><a src="https://www.cengroup.vn/">Cen Group</a></li>
            <li><a src="https://www.testcenter.vn/">TestCenter</a></li>
            <li><a src="https://tophr.vn/">TopHR</a></li>
            <li><a src="https://www.happytimeapp.vn/">Happy Time</a></li>
            <li><a src="https://gitiho.com/">Gitiho</a></li>

          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="content contacts">
          <h3 class="ml-40">Contact</h3>
          <ul class="footer-list foot-social">
            <li><a href="tel:+1123456789"><i class="bx bx-mobile-alt"></i> 024 62538829</a></li>
            <li><a href="tel:+1975456789"><i class="bx bx-phone"></i> 023 45689999</a></li>
            <li><a href="mailto:hello@paso.com"><i class="bx bxs-envelope"></i> info@codegym.vn</a></li>
            <li><a src="https://codegym.vn/"><i class="bx bx-world" ></i>codegym.vn</a></li>
            <li><i class="bx bxs-map"></i> Nhà số 23, Lô TT01, Khu đô thị Mon City (Ngõ 2, đường Hàm Nghi), Phường Mỹ Đình 2, Quận Nam Từ Liêm, Hà Nội</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="copy-area">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <p class="right">
            Copyright @2022 Paso. All Rights Reserved by
            <a src="https://c0821h1.online/" target="_blank">
              c0821h1.online</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- End Footer Area -->

<!-- Start Go Top Area -->
<div class="go-top active">
  <i class='bx bx-chevrons-up'></i>
  <i class='bx bx-chevrons-up'></i>
</div>
<!-- End Go Top Area -->
