<div
  style=";border-radius: 5px;background: rgb(252,233,224); position: absolute;border: 1px solid rebeccapurple;height:300px;width: 300px;right: 15px">
  <div style="margin-left: 60px">
    <thead style=";text-align: center">
    <tr>
      <th class="th-sm "><a >Công ty</a>
      </th>
      <th class="th-sm"><a href="">Địa điểm</a>
      </th>
    </tr>
    </thead>
    <tbody style="text-align: center">
    <div *ngFor="let c of company">
      <button [value]="c.id">
        {{c.name}}
      </button>
    </div>
  </div>
</div>

