

<section class="vh-200" style="background-color: #eee;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
                    integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous"/>
              <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ti-icons@0.1.2/css/themify-icons.css">
              <div class="container">
                <div class="row justify-content-center">
                  <div class="col-md-5 col-lg-5 mb-5 mb-lg-0 wow fadeIn">
                    <div class="card border-0 shadow">
                      <img [src]="company.image" alt="khong co anh">
                      <div class="card-body p-1-9 p-xl-5">
                        <div class="mb-4">
                          <h3 class="h4 mb-0">{{company.name}}</h3><br>
                          <span class="text-primary">By nhóm 1 vjp pro number 1</span>
                        </div>

                        <ul class="social-icon-style2 ps-0">
                          <li><a href="#!" class="rounded-3"><i class="fab fa-facebook-f"></i></a></li>
                          <li><a href="#!" class="rounded-3"><i class="fab fa-twitter"></i></a></li>
                          <li><a href="#!" class="rounded-3"><i class="fab fa-youtube"></i></a></li>
                          <li><a href="#!" class="rounded-3"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-7" style="">
                    <table style="border: 1px">
                      <div class="ps-lg-1-6 ps-xl-5">
                        <ul class="list-unstyled mb-4">
                          <li style="margin-top: 20px" class="mb-3">
                            <a href=""><i
                              class="far fa-envelope display-25 me-3 text-secondary"></i>Email: {{company.account.userName}}
                            </a>
                          </li>
                          <li style="margin-top: 20px" class="mb-3"><a href=""><i class="fas fa-mobile-alt display-25 me-3 text-secondary"></i>Số điện thoại:
                            (345)
                            6789</a></li>
                          <li style="margin-top: 20px"><a href=""><i
                            class="fas fa-map-marker-alt display-25 me-3 text-secondary"></i> Địa chỉ: {{company.address}}
                          </a></li>
                          <li style="margin-top: 20px" class="mb-3">
                            <a href=""><i
                              class="far fa-user display-25 me-3 text-secondary"></i>Số lượng nhân viên: {{company.staffNumber}}
                            </a>
                          </li>
                          <li style="margin-top: 20px" class="mb-3">
                            <a href=""><i
                              class="fas fa-share-alt display-25 me-3 text-secondary"></i>Chi nhánh: {{company.branch}}
                            </a>
                          </li>
                          <li style="margin-top: 20px" class="mb-3">
                            <a href=""><i
                              class="fas fa-poll alt display-25 me-3 text-secondary"></i>Về chúng tôi: {{company.description}}
                            </a>
                          </li>
                        </ul>

                      </div>
                    </table>
                  </div>
                </div>
              </div>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>




