
<div style="margin-top: 30px" class="container">
  <div style="" class="row">
    <p style="margin-top: 30px;font-size: 30px">Các công ty đề xuất</p>
  </div>  <div class="row">
    <div *ngFor="let company of companyList"  class="col-3">
      <a style="color: black" [routerLink]="['company-detail/',company.id]">
        <div style="justify-content: center;text-align: center">
          <img  style=" ;margin: auto;width: 150px; height: auto" [src]="company.image">
        </div>
        <div style=";text-decoration: none ;font-size: 15px;text-align: center;margin-top: 5px" ><b>{{company.name}}</b></div>
      </a>
      <div style="font-size: 12px;text-align: center;margin-top: 5px">{{company.address}}</div>
    </div>
  </div>
</div>

