<br>
<h1 style="text-align: center">List</h1>
<br>
<table class="table table-borderless container" >
  <thead>
  <tr>
    <td>ID</td>
    <td>Tên</td>
    <td>Địa điểm</td>
    <td>Mô tả</td>
    <td colspan="2" style="text-align: center">Action</td>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let j of jobList; index as i">
    <td>{{i + 1}}</td>
    <td>{{j.name}}</td>
    <td>{{j.location}}</td>
    <td>{{j.description}}</td>
<!--    <td style="color: #3e8e41">{{j.status}}</td>-->
<!--    <td style="text-align: center"><button type="button" class="btn btn-outline-secondary btn-rounded" data-mdb-ripple-color="dark" [routerLink]="['/tours/edit',to.id]" style="width: 100%">Edit</button></td>-->
<!--    <td style="text-align: center"><button type="button" class="btn btn-outline-danger btn-rounded" data-mdb-ripple-color="dark" [routerLink]="['/tours/delete',to.id]" style="width: 100%">Delete</button></td>-->
    <td style="text-align: center"><button type="button" class="btn btn-outline-danger btn-rounded" data-mdb-ripple-color="dark" [routerLink]="['/admin/job-list',j.id]" style="width: 100%">Thêm vào tin đề xuất</button></td>
  </tr>
  </tbody>
</table>
