


<!--<app-header></app-header>-->
<!--<router-outlet></router-outlet>-->

<app-header></app-header>
<router-outlet></router-outlet>




<!--<app-footer></app-footer>-->


<!--<app-register></app-register>-->

<!--<app-user-register></app-user-register>-->
<!--<app-company-create></app-company-create>-->

<!--<app-job-list></app-job-list>-->

<!--<app-job-list></app-job-list>-->
<!--<app-company-create></app-company-create>-->
<!--<main class="container" style="text-align: center; padding-top: 50px">-->
<!--  <a routerLink="/company/list" class="btn btn-dark">Danh sách Tour</a>|<a routerLink="/company/create" class="btn btn-dark">Tạo mới Tour</a>-->
<!--</main>-->
<!--<router-outlet></router-outlet>-->
<!--<div style="background-color: darkgray">-->
<!--  <footer class="py-3 my-4">-->
<!--    <ul class="nav justify-content-center border-bottom pb-3 mb-3">-->
<!--      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>-->
<!--      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>-->
<!--      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>-->
<!--      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>-->
<!--      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>-->
<!--    </ul>-->
<!--    <p class="text-center text-muted">© 2022 Company, Inc</p>-->
<!--  </footer>-->
<!--</div>-->



<!-- ======= Header ======= -->



<!-- End Header -->

<!-- ======= Hero Section ======= -->


<!--<router-outlet></router-outlet>-->

<!--<app-footer></app-footer>-->


<!--<main class="container" style="text-align: center">-->
<!--  <a routerLink="job/job-create" class="btn btn-light">Create Job</a>-->
<!--</main>-->


<!--<a href="" routerLink="user/find-job-user">asdasdad</a>-->

<a href="" routerLink="user/find-job-user">asdasdad</a>
<!--<app-job-detail></app-job-detail>-->
<!--<app-cv-create></app-cv-create>-->
<!--<app-cv-list></app-cv-list>-->


<!--<app-cv-create></app-cv-create>-->
<!--<app-cv-list></app-cv-list>-->

<!--<app-footer></app-footer>-->
