
<!--<app-header></app-header>-->
<!--<router-outlet></router-outlet>-->
<!--<app-footer></app-footer>-->

<app-header></app-header>
<router-outlet></router-outlet>

<!--<div class="col-9 m-auto">-->
<!--  <div class="row">-->
<!--    <div style="border: 1px solid black" class="col-4">-->
<!--        <div class="row">-->
<!--          <div class="col-2">-->
<!--              <img src="https://images.foody.vn/res/g103/1024417/s120x120/9f432a8b-bd10-474b-8268-9c94e5ad6d43.jpeg" alt="Pate bơ béo (400gram)" width="60" height="60">-->
<!--          </div>-->
<!--          <div class="col">-->

<!--            <p class="item-restaurant-name">Pate bơ béo (400gram)</p>-->
<!--            <div class="item-restaurant-desc">Hộp đã được nâng cấp lên từ 300-&gt;400 gram vẫn nguyên giá cux</div>-->
<!--          </div>-->
<!--          <div class="col-auto item-restaurant-more">-->
<!--            <div class="row ">-->
<!--              <div class="col-auto ">-->
<!--                <a class="btn btn-primary" href="">Ứng tuyển ngay</a>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--    </div>-->

<app-footer></app-footer>


<!--<app-register></app-register>-->

<!--<app-user-register></app-user-register>-->
<!--<app-company-create></app-company-create>-->

<!--<app-job-list></app-job-list>-->

<!--<app-job-list></app-job-list>-->
<!--<app-company-create></app-company-create>-->
<!--<main class="container" style="text-align: center; padding-top: 50px">-->
<!--  <a routerLink="/company/list" class="btn btn-dark">Danh sách Tour</a>|<a routerLink="/company/create" class="btn btn-dark">Tạo mới Tour</a>-->
<!--</main>-->
<!--<router-outlet></router-outlet>-->
<!--<div style="background-color: darkgray">-->
<!--  <footer class="py-3 my-4">-->
<!--    <ul class="nav justify-content-center border-bottom pb-3 mb-3">-->
<!--      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>-->
<!--      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>-->
<!--      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>-->
<!--      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>-->
<!--      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>-->
<!--    </ul>-->
<!--    <p class="text-center text-muted">© 2022 Company, Inc</p>-->
<!--  </footer>-->
<!--</div>-->

