body {
  margin-top: 20px;
}
.social-icon-style2 li a {
  display: inline-block;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
  background: #59b73f;
  height: 41px;
  line-height: 41px;
  width: 41px;
}

.rounded-3 {
  border-radius: 0.3rem !important;
}

.social-icon-style2 {
  margin-bottom: 0;
  display: inline-block;
  padding-left: 10px;
  list-style: none;
}

.social-icon-style2 li {
  vertical-align: middle;
  display: inline-block;
  margin-right: 5px;
}

a, a:active, a:focus {
  color: #616161;
  text-decoration: none;
  transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-duration: .2s;
  -ms-transition-duration: .2s;
  -moz-transition-duration: .2s;
  -webkit-transition-duration: .2s;
  -o-transition-duration: .2s;
}

.text-secondary, .text-secondary-hover:hover {
  color: #59b73f !important;
}

.display-25 {
  font-size: 1.4rem;
}

.text-primary, .text-primary-hover:hover {
  color: #ff712a !important;
}

p {
  margin: 0 0 20px;
}

.mb-1-6, .my-1-6 {
  margin-bottom: 1.6rem;
}
