<div class="container">
  </div>
<div class="content">
  <div class="container col-10">
    <h1 class="text-center mt-4 mb-4">Danh Sách Việc Làm</h1>
    <div class="search row d-flex justify-content-xl-end justify-content-center mb-4 text-center">
      <div class="col-xl-2 col-md-3">
        <label for="provider">Họ Và Tên</label>
        <input (keydown.enter)="getSearch(0)" [(ngModel)]="name" id="provider" class="form-control" type="text"
               placeholder="Nhập vào tên công việc">
      </div>

    <td>Lĩnh Vực</td>

    <select [(ngModel)]="jobField" class="custom-select custom-select-sm" id="jobField" >
      <option *ngFor="let jF of jobFieldList" [value]="jF.name">{{jF.name}}</option>
    </select>

    <td>Địa điểm</td>
    <select [(ngModel)]="location" class="custom-select custom-select-sm" id="location">
      <option *ngFor="let location of locationList" [value]="location.name">{{location.name}}</option>
    </select>

      <td>Tên công ty</td>
      <select matNativeControl [(ngModel)]="company" name="companyId">
        <option *ngFor="let company of companyList" [value]="company.name">{{company.name}}</option>
      </select>

    <td>Mức lương</td>
      <select matNativeControl [(ngModel)]="salaryRange"  name="companyId">
        <option *ngFor="let salary of salaryRangeList" [value]="salary">{{salary}}</option>
      </select>

      <div class="col-xl-2 col-4 mt-xl-4 mt-md-3 mt-2 d-xl-flex justify-content-xl-end">
        <button (click)="getSearch(0)" class="btn btn-success mt-2"><i class="fa fa-search"></i> Tìm kiếm</button>
      </div>
    </div>
  </div>

    </div>
    <div class="">
      <table class="table table-hover table-bordered ">
        <thead>
        <tr class="table-primary">
          <th class="center-stt">STT</th>
          <th>Tên công việc</th>
          <th>Lĩnh Vực</th>
          <th>Mức Lương</th>
          <th>Địa điểm</th>
          <th>Kinh nghiệm</th>
          <th>Hình thức</th>
          <th>Ngày hết hạn</th>
          <th>Mô tả</th>
          <th>Số lượng tuyển</th>
          <th>Yêu cầu giới tính</th>
<!--          <th class="text-center">Chức năng</th>-->
        </tr>
        </thead>
        <tr *ngFor="let element of jobList, index as i  " >
          <td class="center-stt">{{i + 1}}</td>
          <td>{{element.name}}</td>
          <td>{{element.jobField.name}}</td>
          <td>{{element.salaryRange}}</td>
          <td>{{element.location.name}}</td>
          <td>{{element.experience}}</td>
          <td>{{element.jobType}}</td>
          <td>{{element.expiredDate}}</td>
          <td>{{element.description}}</td>
          <td>{{element.recruitNumber}}</td>
          <td>{{element.gender}}</td>
          <td class="text-center">
          </td>
        </tr>
      </table>
    </div>
