<p>find-job-user works!</p>
<div class="search row d-flex justify-content-xl-end justify-content-center mb-4 text-center">
  <div class="col-xl-2 col-md-3">
    <label for="vaccineType">Mã Bệnh Nhân</label>
    <input (keydown.enter)="getSearch(0)" [(ngModel)]="patientId" id="vaccineType" class="form-control" type="text"
           placeholder="Mã Bệnh Nhân">
  </div>
  <div class="col-xl-2 col-md-3">
    <label for="provider">Họ Và Tên</label>
    <input (keydown.enter)="getSearch(0)" [(ngModel)]="name" id="provider" class="form-control" type="text"
           placeholder="Họ Và Tên">
  </div>
  <div class="col-xl-2 col-4 mt-xl-4 mt-md-3 mt-2 d-xl-flex justify-content-xl-end">
    <button (click)="getSearch(0)" class="btn btn-success mt-2"><i class="fa fa-search"></i> Tìm kiếm</button>
  </div>
</div>
