
<div class="formbold-main-wrapper">
  <div class="formbold-form-wrapper">
    <br>
    <br>

    <form #editCompanyForm="ngForm" (ngSubmit)="updateAccount(editCompanyForm)">
      <div class="formbold-mb-3 form-group">
        <div>
          <label class="formbold-form-label"> Tên công ty </label>
          <input
            type="text"
            placeholder="Tên công ty"
            class="formbold-form-input"
            name="name"
            [(ngModel)]="company.name"
            #companyName = "ngModel"
            required
          />
        </div>
      </div>
      <div class="alert" *ngIf="!companyName?.valid && (companyName?.dirty ||companyName?.touched)">
        <p style="color: red"> Tên công ty không được để trống. </p> <br>
      </div>

      <div class="formbold-mb-3 form-group">
        <div>
          <label class="formbold-form-label"> Email </label>
          <input
            type="text"
            placeholder="Email Công ty"
            class="formbold-form-input"
            name="userName"
            [(ngModel)]="company.account.userName"
            #email = "ngModel"
            email
            required
          />
        </div>
      </div>
      <div class="alert" *ngIf="!email?.valid && (email?.dirty ||email?.touched)">
        <div style="color: red" *ngIf="email.errors?.['required']">
          Mail không được để trống.
        </div>

        <div style="color: red" *ngIf="email.errors?.['email']">
          Mail không đúng định dạng.
        </div>
      </div>
      <br>

      <div class="formbold-mb-3 form-group">
        <div>
          <label class="formbold-form-label"> Password </label>
          <input
            type="text"
            placeholder="Mật mã truy cập"
            class="formbold-form-input"
            name="password"
            [(ngModel)]="company.account.password"
            #password = "ngModel"
            required
            minlength="6"
          />
        </div>
      </div>
      <div class="alert" *ngIf="!password?.valid && (password?.dirty ||password?.touched)">
        <div style="color: red" *ngIf="password.errors?.['required']">
          Mật khẩu không được để trống.
        </div>

        <div style="color: red" *ngIf="password.errors?.['minlength']">
          Mật khẩu tối thiểu 6 ký tự.
        </div>
      </div>
      <br>

      <div class="formbold-mb-3 form-group">
        <div>
          <label class="formbold-form-label"> Ảnh đại diện công ty </label>
          <input
            #uploadFile (change)="uploadFileImg()"
            type="file"
            placeholder="Ảnh đại diện công ty"
            class="formbold-form-input"
            name="image"
            [src]="company.image"
          />
        </div>
      </div>

      <div class="formbold-mb-3 form-group">
        <div>
          <label class="formbold-form-label"> Địa chỉ công ty </label>
          <input
            type="text"
            placeholder="Địa chỉ công ty"
            class="formbold-form-input"
            name="address"
            [(ngModel)]="company.address"
          />
        </div>
      </div>
      <div class="formbold-mb-3 form-group">
        <div>
          <label class="formbold-form-label">Số lượng nhân viên </label>
          <input
            type="number"
            placeholder="Số lượng nhân viên"
            class="formbold-form-input"
            name="staffNumber"
            [(ngModel)]="company.staffNumber"
          />
        </div>
      </div>
      <div class="formbold-mb-3 form-group">
        <div>
          <label class="formbold-form-label">Chi nhánh công ty</label>
          <input
            type="text"
            placeholder="Chi nhánh công ty"
            class="formbold-form-input"
            name="branch"
            [(ngModel)]="company.branch"
          />
        </div>
      </div>

      <div class="formbold-mb-3 form-group">
        <label class="formbold-form-label">
          Mô tả
        </label>
        <textarea
          rows="6"
          class="formbold-form-input"
          name="description"
          [(ngModel)]="company.description"
          #description = "ngModel"
          required
        ></textarea>
      </div>
      <div class="alert" *ngIf="!description?.valid && (description?.dirty ||description?.touched)">
        <p style="color: red"> Mô tả không được để trống. </p> <br>
      </div>

      <button type="submit" class="formbold-btn" [disabled]="!editCompanyForm.valid">Cập nhật</button>
    </form>
  </div>
</div>





