<script>

</script>
<section style="margin-top: -50px" id="hero" class="d-flex align-items-center">

  <div style="height: 160px" class="container">
    <div id="footer" class="row gy-3">

      <div class="footer-newsletter col-lg-8 order-2 order-lg-6 d-flex flex-column justify-content-center">
        <div class="container">
          <div class="row justify-content-center">
            <div style="margin-left: 100px; margin-top: -70px" class="col-lg-6">
              <h4>"Alo" là có việc!!</h4>
              <p>Để thoát khỏi sự trầm cảm, hãy đến với chúng tôi,cùng AloCV nhặt ve chai và tạo nên thương hiệu!!!</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-3 order-1 order-lg-2 hero-img">
        <img style="width: 300px; margin-top: -70px" src="assets/img/hero-img.svg" class="img-fluid animated" alt="">
      </div>
    </div>
  </div>
</section>

<div style="position:relative;bottom: 150px;margin-top: 50px; margin-left: 0px;padding-bottom: 100px; justify-content: center" class="row">
  <div style="" class="col-3">
    <b>Tên công việc</b>
    <input  [(ngModel)]="name" class="form-control" type="text" placeholder="Tên công việc">
  </div>
  <div class="col-2">
    <b>Lĩnh vực</b>
    <select  [(ngModel)]="jobField" class="form-select" aria-label="Default select example">
      <option selected value="">Tất cả</option>
      <option style="overflow: auto" *ngFor="let jF of jobFieldList" [value]="jF.name">{{jF.name}}</option>
    </select>
  </div>

  <div class="col-2">
    <b>Địa điểm</b>
    <select [(ngModel)]="locationData" class="form-select" aria-label="Default select example">
      <option selected value="">Tất cả</option>
      <option *ngFor="let location of locationList" [value]="location.name">{{location.name}}</option>
    </select>
  </div>

  <div class="col-3">
    <b>Công ty</b>
    <select style="overflow: auto" class="form-select" aria-label="Default select example" [(ngModel)]="companyData" name="companyId">Tất cả
      <option selected value="">Tất cả</option>
      <option style="position: absolute;overflow: auto" *ngFor="let company of companyList" [value]="company.name">{{company.name}}</option>
    </select>
  </div>

  <div class="col-2">
    <b>Chọn mức lương</b>
    <select  class="form-select" aria-label="Default select example"  [(ngModel)]="salary"  name="companyId">
      <option selected value="">Tất cả</option>
      <option *ngFor="let salary of salaryRangeList" [value]="salary">{{salary}}</option>
    </select>
  </div>
  <div class="col-3" aria-label="Default select example" >
    <p></p>
    <button style="background: rgb(234,101,42)" (click)="checkSalary()" class="btn btn-success mt-2"><i class="fa fa-search"></i> Tìm kiếm</button>
  </div>
</div>



<div style="" class="row">
  <div class="row">
    <div class="col-5">
      <p style="margin-top: -150px;font-size: 30px; float: left">Tin tuyển dụng, việc làm tốt nhất</p>
    </div>
    <div style="margin-top:-145px " class="col-1">
      <p><a style="background: rgb(253,236,228); color: black; border: #ded5d5 1px solid" (click)="getAllJob()" class="btn-primary btn">Tất cả</a></p>
    </div>
    <div style="margin-top:-145px; margin-left: -20px " class="col-2">
      <p><a style="background: rgb(253,236,228); color: black;border: #ded5d5 1px solid" (click)="getTopJobByDate()" class="btn-primary btn">Mới nhất</a></p>
    </div>
  </div>


</div>

<div style="margin-top: -100px;text-align: center; justify-content: left;" class="row">
  <div  style="float: left; background:rgb(254,248,245)" class="col-10">
    <a href="">

      <div  *ngFor="let j of jobList; index as i" style=" background:rgb(246,236,236); margin-top: 15px;float: left ;margin-right: 15px;height :178px;width: 250px;border-radius: 5px;border: 1px solid #ebe6ec" class="col-3  navbar-detail">

        <div  style="float: left" class="row ">
          <div  class="icon row">
            <div class="col-3">
              <img [src]="j.company.image" style="float: left;border-radius: 50%;height: 50px;width: auto; margin-top: 15px;margin-left: 5px"  >
            </div>
            <div class="col-8  mt-3">

              <div>

              </div>
              <div style="float: left; padding-left: 0px"  class="title demo">
              <a class="detail-div" style="color: black; text-decoration: none; font-size: 18px; font-weight: 300; font-family: 'Times New Roman'; text-align: left; padding-top: 10px"><span>Công việc: {{j.name}}</span><br>
                                    <span>Công ty: {{j.company.name}}</span><br>
                                    <span>Mô tả công việc: {{j.description}}</span><br>
                                    <span>Số lượng: {{j.recruitNumber}}</span>

              </a>
                <a style="font-size: 13px" href="" [routerLink]="['/job/job-detail',j.id]" >{{j.name}}</a></div>
            </div>

          </div>
          <div class="row">
            <p class="description">{{j.company.name}}</p>
            <input [(ngModel)]="companyImg" type="hidden" [value]="j.company.image" class="description">
          </div>
          <div class="row">
            <div class="col-6"><p style="font-size: 12px">{{j.location.name}}</p></div>
            <div style="font-size: 12px" class="col-6"><p>{{j.position}}</p></div>
          </div>
        </div>
      </div>

    </a>

  </div>

  <div  class="col-1" style="float: left; ;width: 200px; background: rgb(253,236,228)">
    <ul >
      <h3>Danh mục</h3>
      <li>
        <input type="checkbox" checked>
        <i></i>
        <h2>Địa điểm</h2>
        <div style="margin-top: 20px">
          <p style="margin-top: -10px" *ngFor="let lo of locationList">
            <a  (click)="getJobByLocationId(lo.id)">{{lo.name}}</a>
          </p>
        </div>
      </li>
      <li >
        <input type="checkbox" checked>
        <i></i>
        <h2>Chuyên ngành</h2>
        <div style="margin-top: 20px">
          <p style="margin-top: -15px" *ngFor="let lo of jobFieldList">
            <a  (click)="getJobByJobFieldId(lo.id)">{{lo.name}}</a>
          </p>
        </div>
      </li>
    </ul>
  </div>
</div>



