<div style="height: 50px"></div>
<div class="col-10 m-auto">
  <br>
  <h1 style="text-align: center;margin-top: 30px">Danh sách tài khoản doanh nghiệp</h1>
  <br>
  <table class="table table-striped container text-center" >
    <thead>
    <tr>
      <th>STT</th>
      <th>Ngày tạo </th>
      <th>Tài khoản</th>
      <th>Trạng thái</th>
      <th colspan="2" style="text-align: center">Hành động</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let account of companyList; index as i" >
      <td>{{i + 1}}</td>
      <td><a  class="btn"  style="width: 40%">{{account.createdAt}}</a></td>
      <td>{{account.userName}}</td>
      <td *ngIf="account.status">Đang hoạt động</td>
      <td *ngIf="!account.status">Đã khóa</td>
      <td  style="text-align: center">
        <button *ngIf="account.status" type="button" class="btn btn-outline-warning" (click)="block(account.id)" >Khoá</button>
        <button *ngIf="!account.status" type="button" class="btn  btn-outline-danger" (click)="unblock(account.id)" >Mở khóa</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
